# --- PYTHON / BACKEND ---
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Virtual Environments (Anaconda / venv)
venv/
ENV/
env/
.venv/
finance/


# --- NODE.JS / NEXT.JS / FRONTEND ---
# Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js

# Testing
frontend/coverage/

# Next.js build output
frontend/.next/
frontend/out/

# Production builds
frontend/build/

# Misc.
frontend/.DS_Store
frontend/sentry.properties.local
frontend/.env*.local


# --- SYSTEM FILES / IDE ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
*~